<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <contextName>oauth</contextName>
    <property name="app.name" value="oauth"/>
    <property name="logs.path" value="/var/log"/>

    <property name="out.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file : %line] - %msg%n"/>

    <!--
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${out.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--定义日志输出的路径-->
        <file>${logs.path}/${app.name}.log</file>
        <!--定义日志滚动的策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--定义文件滚动时的文件名的格式-->
            <fileNamePattern>${logs.path}/${app.name}_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--7天的时间周期-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--定义输出格式-->
        <encoder>
            <pattern>${out.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--定义日志输出的路径-->
        <file>${logs.path}/${app.name}_error.log</file>
        <!--定义日志滚动的策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--定义文件滚动时的文件名的格式-->
            <fileNamePattern>${logs.path}/${app.name}_error_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--7天的时间周期-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--定义输出格式-->
        <encoder>
            <pattern>${out.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--过滤错误日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--root是默认的logger，设定输出级别是INFO-->
    <root level="WARN">
        <!--定义了三个appender，日志会往里面写-->
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR"/>
    </root>
</configuration>