<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <contextName>oauth</contextName>
    <property name="app.name" value="oauth"/>
    <property name="logs.path" value="/var/log"/>

    <property name="out.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file : %line] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${out.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>