html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
}

#particles-js {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.logo {
  width: 230px;
}

.captcha-img {
  padding: 0 !important;
  cursor: pointer;
}

.form-login {
  width: 100%;
  margin: auto;
  max-width: 520px;
}

.login-card {
  padding: 25px 50px;
  border-radius: 0.25rem;
  background-color: rgba(15, 32, 78, 0.6);
}

.form-login .fw400 {
  font-weight: 400;
}

.form-login .fs2rem {
  font-size: 2rem;
  height: 2rem;
}

.form-login :focus-within {
  z-index: 2;
}

.form-login .mw-30 {
  min-width: 30%;
}

.border-top-radius {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-middle-radius {
  margin-bottom: -1px;
  border-radius: 0;
}

.border-bottom-radius {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-check-label {
  margin-left: 0.25em;
}
