<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{/css/login.css}" rel="stylesheet"/>
  <title>Aulang</title>
</head>

<body class="text-center">
<main class="form-login">
  <div class="row">
    <picture>
      <img th:src="@{/img/logo.png}" class="img-fluid mb-4 logo" alt="logo"/>
    </picture>
    <h1 class="h3 mb-3 fw-normal">访问授权</h1>
  </div>

  <div class="row">
    <p class="text-danger text-center text-break" id="error-msg"></p>
  </div>

  <form method="post" th:action="@{/approval}">
    <div class="card">
      <h5 class="card-header text-start" th:text="${'授权【' + clientName + '】访问您的：'}"></h5>
      <div class="card-body row g-3">
        <div th:each="scope : ${scopes}" class="text-start">
          <label>
            <input type="checkbox" name="scopes" th:value="${scope}" th:id="${scope}" class="form-check-input"/>
            <span th:for="${scope}" th:text="${scopeNames.get(scope)}" class="form-check-label"></span>
          </label>
        </div>

        <div class="text-end">
          <button type="submit" name="authorized" value="false" class="btn btn-secondary">取消</button>
          <button type="submit" name="authorized" value="true" class="btn btn-primary ms-3">授权</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row mt-5 mb-3">
    <p class="text-muted">&copy; Aulang 2018 - 2022</p>
  </div>
</main>
</body>
</html>
