<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>密码修改</title>
    <link th:href="@{/public/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body class="text-center">

<div class="login-top mb-3">
    <img class="mb-3" th:src="@{/images/logo.png}" alt="Aulang"/>
    <h5 class="h5 font-weight-normal"></h5>
    <span style="color: red">修改成功</span>
</div>

<form class="form-login">
    <a th:href="@{'/login/' + ${authorizeId}}" class="btn btn-outline-primary">返回登录</a>
</form>

<div class="login-footer">
    <p class="mt-5 mb-3 text-muted">
        <span>&copy;2018 Aulang</span>
    </p>
</div>

</body>
</html>