<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{/css/login.css}" rel="stylesheet"/>
  <title>Aulang</title>
</head>

<body class="text-center">
<main class="form-login">
  <div class="row">
    <picture>
      <img th:src="@{/img/logo.png}" class="img-fluid mb-4 logo" alt="logo"/>
    </picture>
    <h1 class="h3 mb-3 fw-normal"></h1>
  </div>

  <div class="row">
    <a href="/">返回首页</a>
  </div>

  <div class="row mt-5 mb-3">
    <p class="text-muted">&copy; Aulang 2018 - 2022</p>
  </div>
</main>
</body>
</html>