<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="login.css" rel="stylesheet" />
    <title>Aulang</title>
  </head>

  <body class="text-center">
    <main class="form-login" id="main">
      <div class="row">
        <picture>
          <img class="img-fluid mb-4" src="logo.png" alt="logo" width="118" height="118" />
        </picture>
        <h1 class="h3 mb-3 fw-normal">请登录</h1>
      </div>

      <div class="row">
        <p class="text-danger text-center text-break" v-text="errorMsg"></p>
      </div>

      <form v-show="!securityCodeLogin" @submit="submitPasswordLogin">
        <div class="form-floating">
          <input
            type="text"
            class="form-control border-top-radius"
            placeholder="账号"
            id="username"
            v-model="username"
            required
          />
          <label for="username">账号</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control border-middle-radius" placeholder="密码" id="password" required />
          <label for="password">密码</label>
        </div>

        <div class="form-floating input-group">
          <input type="text" class="form-control border-bottom-radius" placeholder="验证码" id="captcha" required />
          <label for="captcha">验证码</label>
          <img src="logo.png" alt="验证码" class="form-control border-bottom-radius" />
        </div>

        <div class="checkbox mb-3">
          <input class="form-check-input" type="checkbox" id="remember-me" v-model="rememberMe" />
          <label class="form-check-label" for="remember-me">记住账号</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">登 录</button>
      </form>

      <form v-show="securityCodeLogin" @submit="summitSecurityCodeLogin">
        <div class="form-floating">
          <input type="text" class="form-control border-top-radius" placeholder="手机号" id="mobilephone" required />
          <label for="mobilephone">手机号</label>
        </div>

        <div class="form-floating input-group mb-3">
          <input
            type="text"
            class="form-control border-bottom-radius"
            placeholder="验证码"
            id="security-code"
            required
          />
          <label for="security-code">验证码</label>
          <button
            class="btn btn-outline-secondary border-bottom-radius mw-30"
            type="button"
            @click="sendSecurityCode"
            v-text="sendSecurityCodeMsg"
            :disabled="disableSendSecurityCode"
          ></button>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">登 录</button>
      </form>

      <div class="row mt-3">
        <div class="col">
          <a
            class="btn btn-link"
            @click="changeLoginType"
            :title="securityCodeLogin ? '账号密码登录' : '手机验证码登录'"
          >
            <i class="fs2rem" :class="[securityCodeLogin ? 'bi-keyboard' : 'bi-phone']"></i>
          </a>
          <a class="btn btn-link" title="使用GitHub登录">
            <i class="bi-github fs2rem"></i>
          </a>
        </div>
      </div>

      <div class="row mt-5 mb-3">
        <p class="text-muted">&copy; Aulang 2018 - 2022</p>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.prod.js"></script>
    <script type="text/javascript">
      const errorMsg = ''
    </script>
    <script src="login.js"></script>
  </body>
</html>
